input{
    border-radius: 1rem !important;
}

.nav-link{
    color: #fff;
    text-decoration: none;
    padding: 20px;
    transition: background-color 0.3s ease;
}

.nav-link:hover{
    background-color: #555;
}